$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 1300px,
  xl: 1300px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px
);

$body-color: #292b2e;
$link-color: $body-color;
$primary: #001377;
$font-family-sans-serif: Noto Sans JP, "Hiragino Sans", "ヒラギノ角ゴ ProN W3",
  "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica,
  sans-serif;
$font-weight-normal: 300;
$headings-font-weight: 600;

// button
$input-btn-font-size-lg: 1rem;
$input-btn-padding-y-lg: 2rem;
$input-btn-padding-x-lg: 8rem;
$input-btn-font-size-sm: 0.8125rem;
$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 1rem;
// @import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP:400,700&display=swap&subset=japanese");
@import "node_modules/bootstrap/scss/bootstrap";
// @import "node_modules/bootstrap-vue/src/index.scss";
